/* ========== fonts ========== */
@font-face {
  font-family: "Rubik";
  src: url(../assets/fonts/Rubik-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

/* ========== Global Style ========== */
body {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.main-title {
  color: #f64b4b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}
.btn-style {
  background-color: #473bf0;
  padding: 13px 23px;
  border-radius: 8px;
  color: #ffff;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.btn-style:hover {
  background-color: #3a2ed0;
}

/* ========== Header ========== */
header {
  padding-block: 15px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
header a.navbar-brand {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 24px;
}

/* ========== Home ========== */
.home {
  background-image: url("../assets/images/Bitmap.png");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text h2 {
  font-size: 60px;
}
.hero-text p {
  font-size: 19px;
  margin-bottom: 30px;
}

.hero-image {
  position: relative;
}
.hero-image span {
  position: absolute;
}
.hero-image span:nth-of-type(1) {
  top: 10px;
  left: 15%;
  z-index: -1;
}
.hero-image span:nth-of-type(2) {
  bottom: 10px;
  left: 15%;
}
.hero-image span:nth-of-type(3) {
  bottom: 30px;
  right: 20%;
}

/* ========== Services ==========   */
.services-heading {
  text-align: center;
  margin: 50px auto;
  max-width: 589px;
}
.services-heading p {
  font-size: 36px;
  font-weight: bold;
  line-height: 45px;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem;
  color: #ffffff;
  border: none;
}
.card.card-one {
  background-color: #68d585;
}
.card.card-two {
  background-color: #473bf0;
}
.card.card-three {
  background-color: #f64b4b;
  position: relative;
}
.card.card-three::after {
  background-image: url("../assets/icons/Group101.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
  width: 171px;
  height: 80px;
  z-index: -1;
}

.card img {
  height: 133px;
}

.card h5 {
  margin-block: 1rem;
  font-weight: bold;
  font-size: 24px;
}

.card p {
  opacity: 65%;
  font-size: 17px;
  font-weight: normal;
}

.card a {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}
.card a::after {
  content: "→";
  display: inline-block;
  margin-left: 8px;
}
.card a:hover::after {
  animation: arrow-move 0.7s infinite alternate;
}
@keyframes arrow-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(15px);
  }
}

/* ========== Testimonial  ========== */
.testimonial {
  margin-block: 3rem;
  /* padding-inline: 15rem; */
}
.stars i {
  color: #fcad38;
}

.testimonial p {
  margin-block: 1rem;
  font-size: 24px;
}

/* ========== Our Story  ========== */
.story p {
  font-size: 36px;
  font-weight: bold;
  max-width: 515px;
  line-height: 1;
}
